<div class="container">
    <div class="header">
        <h1>Accounting application</h1>
    </div>
    <nav>
        <ul>
            <li class="search">
              <button (click)="onSearchAccount(searchInput.value)">Search</button>
              <input type="text" placeholder="Enter account id..." #searchInput>
            </li>
            <li class="group">
              <a routerLink="/accounts">My accounts</a>
            </li>
            <li>
                <a routerLink="/accounts/1">Savings account</a>
            </li>
            <li>
                <a routerLink="/accounts/2">Checking account</a>
            </li>
            <li>
                <a routerLink="/auth">Login/Register</a>
            </li>
            <li class="group">Main pages</li>
            <li>
                <a routerLink="/faq" routerLinkActive="active">FAQ</a>
            </li>
            <li>
                <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
